@import url(http://fonts.googleapis.com/css?family=Roboto:700,500);

main {
  background-color: #292643;
  margin: 50px;
  font-family: 'roboto-medium', Arial, sans-serif;
  font-size: 1em;
}

h2 {
  font-family: 'Fox on the Run';
  color: #d0cfcd;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-family: 'roboto-bold', Arial, sans-serif;
  color: #d0cfcd;
  text-align: center;
  padding-top: 12px;
}

.container-1{
  display:flex;
}

.container-2{
  display:flex;
}

.box-1{
flex:1;
background-color: #776483;
}

.box-2{
flex:1.2;
padding-top: 60px;
}

.box-3{
flex:1;
padding-top: 60px;
padding-left: 80px;
}

.box-4{
flex:1;
background-color: #776483;
}

.box-5{
flex:1.2;
padding-top: 40px;
}

.box-6{
flex:1;
padding-top: 40px;
padding-left: 80px;
}

.box-4, .box-5, .box-6 {
padding-bottom: 140px;
}

.fab {
  font-size: 40px;
  color: #e99e75;
  cursor: pointer;
  text-decoration: none;
}

.fab:hover {
  color: #d0cfcd;
}

.fa-linkedin-in {
  padding-top: 30px;
  padding-left: 130px;
}

.fa-codepen, .fa-github {
  padding-top: 30px;
  padding-left: 12px;
}

.naam {
  width: 400px;
}

#line {
border-bottom: 4px solid #292643;
}

.purple, .purple-2 {
background-color: #776483;
height: 123px;
width: 300px;
}

.purple-3, .purple-4 {
  background-color: #776483;
  height: 119px;
  width: 300px;
  }
  
.white, .white-2, .white-3, .white-4 {
background-color: #d0cfcd;
width: 300px;
height:100px;
}

.purple, .white, .purple-3, .white-3 {
float:right;
}

.white-3, .white-4 {
background-color: #d0cfcd;
width: 300px;
height: 200px;
}

#padding {
padding: 10px 30px 30px 30px;
}

.icon {
  padding-top: 15px;
  padding-left: 110px;
}

.icon-2 {
  padding-top: 29px;
  padding-left: 70px;
}

.icon-3 {
  padding-top: 25px;
  padding-left: 70px;
}

.icon-4 {
  padding-top: 25px;
  padding-left: 110px;
}

.spreekwolkje {
  background-color: #d0cfcd;
  width: 270px;
  height: 140px;
  padding: 20px 30px 30px 30px;
  margin-top: 40px;
  margin-left: 280px;
  position: absolute;
}

.driehoek {
  position: absolute;
  margin-left: 325px;
  margin-top: 180px;
}

.hond {
  margin-top: 130px;
  width: 300px;
  position: absolute;
}

.button {
  background-color: #44426f;
  color: #d0cfcd;
  font-family: 'Roboto', Arial, sans-serif;
  letter-spacing: 1px;
  border: none;
  text-align: center;
  margin-top: 405px;
  margin-left: 780px;
  padding: 15px;
  width: 350px;
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}

.button span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.button span:after {
  content: '\276F';
  color: #d0cfcd;
  position: absolute;
  top: 0;
  right: -15px;
  transition: 0.5s;
  opacity: 0;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right:0;
}

/* Achterkant Visitekaartje */

/* Main van de achterkant */
.achterkant {
  background-color: #292643;
  margin: 50px;
  font-family: 'roboto-medium', Arial, sans-serif;
  font-size: 1em;
  height: 700px;
}

.container-3{
  display:flex;
  flex-direction:row;
}

img.envelop {
  width: 35px;
  position: absolute;
  margin-left: 320px;
  margin-top: 45px;
}

.email {
  margin-left: 370px;
}

img.telefoontje {
  width: 35px;
}

.telefoon {
  margin-left: 50px;
}

.email, .telefoon {
  font-family: 'roboto-bold', Arial, sans-serif;
  color: #d0cfcd;
  text-align: center;
  padding-top: 40px;
}

.logo {
  width: 1000px;
  padding-left: 350px;
  padding-top: 100px;
}

.button-2 {
  background-color: #44426f;
  color: #d0cfcd;
  font-family: 'Roboto', Arial, sans-serif;
  letter-spacing: 1px;
  border: none;
  text-align: center;
  margin-top: 70px;
  margin-left: 500px;
  padding: 15px;
  width: 350px;
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}

.button-2 span {
  color: #d0cfcd;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-2 span:after {
  content: '\276E';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -15px;
  transition: 0.5s;
}

.button-2:hover span {
  padding-left: 20px;
}

.button-2:hover span:after {
  opacity: 1;
  left: 0;
}