:root {
	--purple: #776483;
	--dark-purple: #292643;
  --orange: #e99e75;
  --light-grey: #d0cfcd;
	--white: #fff;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Fox on the Run', sans-serif;
  display: grid;
  place-items: center;
}

.front {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

h1 {
  margin-bottom: 1em;
  font-size: 3rem;
  text-align: center;
  color: var(--light-grey);
}

h2 {
  font-size: 2rem;
  color: var(--light-grey);
}

p {
  font-family: 'roboto-medium', Arial, sans-serif;
  font-size: 1rem;
}

.hero {
  background-color: var(--purple);
}

.name {
  margin: 0 auto;
  display: block;
  width: 20em;
}

.socials-flex {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fab {
  font-size: 3rem;
  color: var(--orange);
  text-decoration: none;
}

.speechbubble {
  position: absolute;
  margin-left: 21em;
}

.speechbubble-text {
  padding: 1em;
  width: 16em;
  background-color: var(--light-grey);
}

.dog {
  display: block;
  width: 20em;
}

.information {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  background-color: var(--dark-purple);
}

.about-heading {
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
  background-color: var(--purple);
  border-bottom: 4px solid #292643
}

.about-text {
  padding: 1.5em;
  background-color: var(--light-grey);
}

.skills-heading {
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
  background-color: var(--purple);
  border-bottom: 4px solid #292643
}

.skills-text {
  padding: 1.5em;
  background-color: var(--light-grey);
}

.courses-heading {
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
  background-color: var(--purple);
  border-bottom: 4px solid #292643
}

.courses-text {
  padding: 1.5em;
  background-color: var(--light-grey);
}

.birthplace-heading {
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
  background-color: var(--purple);
  border-bottom: 4px solid #292643
}

.birthplace-text {
  padding: 1.5em;
  background-color: var(--light-grey);
}

.laptop-icon {
  height: 62px;
}

.button {
  margin-top: 1em;
  margin-left: auto;
  margin-right: 0;
  padding: 15px;

  color: var(--dark-purple);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;

  background-color: var(--orange);
  text-decoration: none;
  border: none;
  width: 350px;
  cursor: pointer;
  grid-column: 2/3;
}

/* THE BACK FROM THE BUSSINESS CARD */

.back {
  margin-top: 2em;
  padding: 3em;
  background-color: var(--dark-purple);
}

.contact {
  margin-bottom: 2em;
  display: flex;
  gap: 2em;
}

.email-link {
  font-size: 2rem;
  color: var(--light-grey);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.email-icon {
  margin-right: .3em;
  width: 1em;
}

.phone-link {
  font-size: 2rem;
  color: var(--light-grey);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-right: .3em;
  width: 1em;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 30em;
}

.button-back {
  margin-top: 1em;
  padding: 15px;

  color: var(--dark-purple);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;

  background-color: var(--orange);
  text-decoration: none;
  border: none;
  width: 350px;
  cursor: pointer;
  display: block;
}
